h1{
    background-image: linear-gradient(45deg, #0dbd74, #a30c9c);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2{
    background-image: linear-gradient(15deg, #a30c9c, #09ff98);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
body{
    margin-left: 33%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img{
    max-height: 150px;
    max-width: auto;
}
hr{
    max-width: 45%;
    margin-left: 0%;
}

td{
    background-color:aliceblue;
    width: 225px;
    text-align: center;
}

@media screen and (max-width: 600px){
    body{
        margin-left: 10px;
    }
}