body {
    background-image: url('heavenly-visions-background.jpg');
    background-size: cover;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 400%;
    font-weight: 100;
    color: white;
    text-align: center;
}
.nav {
    position: relative;
    overflow: hidden;
    padding: 8px;
    background-color: white;
}
  .nav a {
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 10px;
    }
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
  .nav a:active {
    background-color: #04AA6D;
    color: white;
  }