body {
    background-image: url('heavenly-visions-background.jpg');
    background-size: cover;
}

header {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 100;
    color: white;
}
.nav {
    overflow: hidden; 
}
  .nav a {
    float: left;
    margin: 10px;
    display: block; }
  .nav #menu-toggle {
    display: none; }
  @media screen and (max-width: 600px) {
    .nav a:not(:first-child) {
      display: none; }
    .nav a#menu-toggle {
      float: right;
      display: block; } 
    }
  @media screen and (max-width: 600px) {
    .nav.nav--open {
      position: relative; }
    .nav.nav--open #menu-toggle {
      position: absolute;
      right: 0;
      top: 0; }
    .nav.nav--open a {
      float: none;
      display: block;
      text-align: left; }
    }